<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quizz</title>
</head>
<body>
    <header>
        <h1 class="text-center text-white font-semibold text-3xl bg-yellow-300  py-4"> Quel Pokémon es-tu ? </h1>
    </header>

    <main class="bg-yellow-100 h-screen">
        <div class="flex justify-center py-16">
            <img class="h-200" src="/static/pokemons.png">
        </div>

        <p class="text-center text-2xl y-4  py-2"> Réponds à ce quizz pour découvrir le pokémon qui dort en toi ! </p>

        <div class="flex justify-center pt-12">
                <a href="/question" class="[text-shadow:_1px_1px_1px_black] text-white text-xl p-3 bg-yellow-300 border rounded-lg hover:bg-yellow-500"> Let's go ! </a>
         </div>

    </main>

    <footer class="fixed bottom-0 w-full">
        <p class="text-center text-white font-semibold text-2xl bg-yellow-300  py-2"> Copyright @ Nintendo </p>

    </footer>
</body>
</html>
